<%@ Language = VBScript %>
<html>
    <head>
        <title>Laskavo prosymo</title>
    </head>
    <body>
        <h1>Laskavo prosymo</h1>
        <p>Pryvit, <%=Request.QueryString("first") %>
            <%=Request.QueryString("last") %>
        </p>
        <p>Laskavo prosymo na moiu storinku.</p>
        <p>
            <% theNumberOfOccupations = Request.QueryString("Occupation").Count %>
            <% if the NumberOfOccupations = 0 %>
            Napevno vy - bezrobitnyi
            <% else if theNumberOfOccupations = 1 %>
            Za profesiieiu vy -
            <% Request.QueryString("Occupation") (1) %>
            <% else %>
            Vy obiednuiete nastupni posady:
            <% Request.QueryString("Occupation") (1) %>
            <% For i = 2 to the NumberOfOccupations - 1 %>,
            <%Request.QueryString("Occupation")(theNumberOfOccupations) %>
            <END IF>.
        </p>
        <p><a href="mext.html">Dali</a></p>
    </body>
</html>