<form action="<%= postpath %>" method="POST">
    <% if (note) { %>
        <input type="hidden" name="id" value="<%= note.ts %>">
        <% } %>
        <input type="text" name="author" value="<%= note.author %>">
        <br>
        <textarea name="note" rows=5 cols=40>
            <%= note.note %>
        </textarea>
        <br>
        <input type="submit" value="Submit">
</form>