<html>
    <<head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <p><a href="/view">View</a> | <a href="/add">ADD</a></p>
        <%- body %>
    </body>
</html>