<table>
    <% notes.forEach(function(note) { %>
        <tr>
            <td>
            <p><%= new Date(note.ts).toString() %>:
                by <b><%= note.author %></b></p>
                <p><%= note.note %></p>
            </td>
            <td>
                <form action="/del" method="GET">
                    <input type="submit" value="Delete">
                    <input type="hidden" name="id" value="<%= note.ts %">
                </form>
                <br>
                <form action="/edit" method="GET">
                    <input type="text" id="Edit">
                    <input type="hidden" name="id" value="<%= note.ts %>">
                </form>
            </td>
        </tr><% }); %>
</table>