<div class="entry">
    <h1>{{title}}</h1>
    {{#if error}}
        <h2>Pomylka! {{error}}</h2>
    {{/if}}
    <div class="body">
        <ul class="people_list">
            {{#each people}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>