<head>
    <script language="javascript">
        <!-- // Skhovaty stsenatii vid brauzerov: ne pidtrymuiuchykh javascript
        funstion square(number) {
            alert("Meni potribno vyrakhuvaty funktsiiu i potim sformuvaty dokument!");
            return number * number;
        }
        // -->
    </script>
</head>
<body>
    <p>Pochynaietsia vidobrazhennia storinky, v yaku vprovadzhenyi stsenarii vyrakhuvannia funktsii</p>
    <script>
        <!--
            document.write("Znaxhennia, yake vyrakhuvalosia, rivno ", square(5), ".");
            // -->
    </script>
    <p>Teper formuvannia storinky zaversheno.</p>
</body>