<head>
    <script language="javascript">
        <!-- // Skryty stsenarii vid brauzerov: ne pidtrymuiuchykh javascript
        function validate(form) {
            if (form.value >= 30) {
                alert("Tak Vy vzhe dorosla liudyna!");
            }
            else {
                alert("Vy shchie podoroslishaiete!");
            }
        }
        // -->
    </script>
</head>
<body>
    <form name="Form_1">
        Vash vik: <input type="text" size="5" name="age"><hr>
        <input type="button" value="Pidtverdit" onclick="validate(this.form.age">
    </form>
</body>