<head>
    <script language="javascript">
        <!-- // Skhovaty stsenarii vid brauzeriv, ne pidtrymuiuchykh javascript
        function properties (obj, obj_name) {
            var result = ""
            for (var i in obj) {
                result += obj_name + "." + i + " = " + obj[i] + "<br>"
            }
            result += "<hr>"
            return result
        }
        -->
    </script>
</head>
<body>
    <input type="checkbox" name="check1" value="Flazhok">
    Flazhok
    <script>
        document.write(properties(check1,check1.value))
    </script>
</body>