<head>
    <script language="javascript">
        <!-- // Skhovaty stsenarii vid brauzeriv, ne pidtrymuiuchykh javascript
        function JSClock() {
            var time = new Date()
            var hour = time.getHours()
            var minute = time.getMinutes()
            var second = time.getSeconds()
            var temp = "" + hour
            temp += ((minute < 10) ? ":0" : ":") + minute
            temp += ((second < 10) ? ":0" : ":") + second
            document.clockForm.digits.value = temp
            id = setTimeout("JSClock()", 1000)
        }
        // -->
    </script>
</head>
<body bgcolor="#ffcc00" onload="JSClock()">
    <form name="clockForm">
        <input type="text" name="digits" size="8" value="">
    </form>
</body>