<body>
    <title>Menu</title>
    <script language="javascript">
        <!--
            var MAX = 1;
            var img = new MakeArray(MAX);
            function MakeArray(n) {
                for (var i=0; i<n; i++) {
                    this['i'+i]=0;
                }
                this.maxlen=n;
                this.len=0;
                return this;
            }
            function Images(org, swap) {
                if (document.images) {
                    this.org = newImage();
                    this.org.src = org;
                    this.swap = newImage();
                    this.swap.src = swap;
                }
            }
            function Add (name, id) {
                img[id] = newImages(name+" gif",name+"_m.gif");
            }
            function enter(id) {
                if (document.images) {
                    document.images[id].src = img[id].swap.src;
                }
            }
            function out(id) {
                if (document.images) {
                    document.images[id].src = img[id].org.src;
                }
            }
            Add("m0", "i0");
            Add("m1", "i1");
            // -->
    </script>
</body>
<body bgcolor="#ffcc00" leftmargin="0" text="#ffff00" link="#ffff00" vlink="#ffff00" topmargin="0">
    <div align="left">
        <table border="0" width="152" cellspacing="0" cellpadding="0">
            <tr>
                <td align="left" width="152">
                    <img src="image.jpg" border="0" width="152" height="50">
                </td>
            </tr>
            <tr>
                <td align="left" width="152">
                    <a href="poet.htm" onMouseOver="enter('il')" onMouseOut="out('il')">
                        <img src="ml.gif" name="il" border="0" width="152" height="22">
                    </a>
                </td>
            </tr>
            <tr>
                <td align="left" width="152">
                    <img src="image.jpg" border="0" width="152" height="50">
                </td>
            </tr>
        </table>
    </div>
</body>