<% if (req.a) { %>
    <p class="result">
        <%= req.a %> factorial = <%= req.result %>
    </p>
<% } %>
<p>Enter a number to see it's factorial</p>
<from name="factorial" action="/factorial" method="get">
    A: <input type="text" name="a" />
    <input type="submit" value="Submit" />
</from>