<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <table>
            <tr><td>
                <div class="navbar">
                    <p><a href="">home</a></p>
                    <p><a href="/mult">Multiplication</a></p>
                    <p><a href="/square">Square's</a></p>
                    <p><a href="/factorial">Factorial's</a></p>
                    <p><a href="/fibonacci">Fibonacci's</a></p>
                </div>
            </td>
            <td><%- body %></td>
            </tr>
        </table>
    </body>
</html>