<% if (req.a) { %>
<p class="result">
    <%= req.a %> squared = <%= req.result %>
</p>
<% } %>
<p>Enter numbers to multiply</p>
<form action="/square" name="square" method="get">
    A: <input type="text" name="a" />
    <input type="submit" value="Submit" />
</form>